<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input
            name="amount"
            required
            type="number"
            style="width: 100px;"
            class="input"
            placeholder="Amount"
            [ngModel]="item.amount"
          />
        </p>
      </div>

      <div class="field">
        <p class="control">
          <input
            name="description"
            required
            type="text"
            class="input"
            placeholder="Description"
            [ngModel]="item.description"
          />
        </p>
      </div>

      <div class="field3 is-narrow">
        <button
          type="submit"
          class="button is-primary"
          [ngClass]="{ 'is-primary': !isNewItem, 'is-success': isNewItem }"
          [disabled]="!itemForm.valid"
        >
          <p *ngIf="isNewItem" style="margin-top: 10px;">Add</p>
          <p *ngIf="!isNewItem" style="margin-top: 10px;">Save</p>
        </button>
      </div>
    </div>
  </div>
</form>
